<!DOCTYPE html>
<html class="no-js" lang="tr">
@await Component.InvokeAsync("_LayoutHeaderScriptPartialComponent")
<body>
    <div class="scroll-progress primary-bg"></div>
    @await Component.InvokeAsync("_LayoutSidebarPartialComponent")
    @await Component.InvokeAsync("_LayoutNavbarPartialComponent")
    @await Component.InvokeAsync("_LayoutSearchPartialComponent")
    @RenderBody()
    @await Component.InvokeAsync("_LayoutBottomMenuPartialComponent")
    @await Component.InvokeAsync("_LayoutFooterPartialComponent")
    <div class="dark-mark"></div>
    @await Component.InvokeAsync("_LayoutScriptPartialComponent")
</body>
</html>