@{
    ViewData["Title"] = "Anasayfa";
}

<main>
    @await Component.InvokeAsync("_DefaultSliderPartialComponent")
    <div class="container">
        <div class="hot-tags pt-30 pb-30 font-small align-self-center">
            <div class="widget-header-3">
                <div class="row align-self-center">
                    <div class="col-md-4 align-self-center">
                        <h5 class="widget-title">Önerilen Yazılar</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="loop-grid mb-30">
            <div class="row">
                @await Component.InvokeAsync("_DefaultFeaturedBlogPartialComponent")
                @await Component.InvokeAsync("_DefaultBlogByCommentPartialComponent")
            </div>
        </div>
    </div>
    <div class="bg-grey pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="post-module-2">

                        <div class="loop-list loop-list-style-1">
                            <div class="row">
                                @await Component.InvokeAsync("_DefaultLastBlogPartialComponent")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="widget-area">
                        @await Component.InvokeAsync("_DefaultAboutPartialComponent")
                        @await Component.InvokeAsync("_DefaultMostPopularPartialComponent")
                        @await Component.InvokeAsync("_DefaultLastCommentPartialComponent")
                        @await Component.InvokeAsync("_DefaultLastBlogCommentPopupTwoListComponent")
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

