<footer class="pt-50 pb-20 bg-grey">
    <div class="container">        
        <div class="footer-copy-right pt-30 mt-20 wow fadeInUp animated">
            <p class="float-md-left font-small text-muted">© @DateTime.Now.Year, .NET Developer </p>
            <p class="float-md-right font-small text-muted">
                Design by <a href="mailto:info@alpayakcer.com" target="_blank">Alpay Akçer</a> | All rights reserved
            </p>
        </div>
    </div>
</footer>